td {padding-left:20px;
    padding-right: 20px; }   
.sri {padding-left:50px;
       padding-right: 50px;
       padding-top: 10px;
       padding-bottom:10px;
     }
.naath {padding-left:30px;
       padding-right: 30px;
       padding-top: 10px;
       padding-bottom:10px;}
img {padding-right: 10px;
        height: 50px;
        width: 100px;}       