

span{color: white;}

input{border-radius: 5px;}
  
  .pay_body{
        width: 900px;
        position: absolute;
        left: 200px;
        background-image: url(money.jpg);
        background-size: cover;}
    #gifa {position: fixed;
         left: 5%;
         top: 10%;
         height: 200px;
         }
    #gifb {position: fixed;
         left: 5%;
         top: 60%;
         height: 200px;
        }  
    #gifc {position: fixed;
         left:80%;
         top: 20%;
         height: 200px;
         }           
    .form_pay {background-color: black;
        border:2px solid red;
        color: white;
        padding-bottom: 30px;
        padding-top: 30px;}
    .fieldset_pay {background-origin: padding-box;
              box-shadow: 0 5px 25px deeppink;
              width:400px; }

              